.eslintcache
.husky/_
.idea
.rdf-test-suite-cache
.rdf-test-suite-ldf-cache
.vscode
.yarn
components
coverage
documentation
node_modules

componentsjs-error-state.json
earl.ttl
lerna-debug.log
yarn-error.log

**/*.d.ts
**/*.js
**/*.js.*
**/*.log

!engines/*/spec/*.js
!packages/*/spec/*.js
!packages/**/__mocks__/*.js
