.eslintcache
.husky/_
.idea
.rdf-test-suite-cache
.rdf-test-suite-ldf-cache
.vscode
.yarn
components
componentsjs-error-state.json
coverage
documentation
earl.ttl
node_modules

**/*.js
**/*.js.*
**/*.d.ts
**/*.log

!**/__mocks__/*.js
!**/spec/*.js
